<div>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table>
      <tr>
        <td>
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"  %>
        </td>
      </tr>
      <tr>
        <td> 
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </tr>

      <tr>
        <td><%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
      </tr>

      <tr class="actions">
        <td><%= f.submit "Sign_up" %></td>
      </tr>
    </table>
  <% end %>
</div>