<div>
	<div>
		<h2>Code投稿ページ</h2>
	</div>
	<div>
		<%= form_for(@new_code) do |c| %>
			<%= c.label :code_name, "タイトル" %>
			<%= c.text_field :code_name %>
			<%= c.label :language, "言語" %>
			<%= c.text_field :language %>
			<%= c.label :file, "ソースコード" %>
			<%= c.file_field :file %>
			<%= c.label :codes_explanation, "解説" %>
			<%= c.text_area :codes_explanation %>

			<%= c.submit "投稿" %>
		<% end %>
	</div>
</div>