<!DOCTYPE html>
<html>
  <head>
    <title>SCoder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn rel='stylesheet'">
  </head>

  <body>
    <header id="header" class="headers">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="headers">
          <div class="container">
            <div class="nav navber-nav navbar-left">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
              </button>
              <% if user_signed_in? %>
                <p class="navbar-brand"><%= link_to 'SCoder', root_path, {class: "head-title"} %></p>
              <% else %>
                <p class="navbar-brand"><%= link_to 'SCoder', root_path, {class: "head-title"} %></p>
              <% end %>
              <!--  -->
            </div>
            <div class="collapse navbar-collapse" id="navbarEexample1">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to "CodeList", codes_path, {class: "head-link"} %></li>
                  <li><%= link_to "CodeUp", new_code_path, {class: "head-link"} %></li>
                  <li><%= link_to "MyPage", user_path(current_user), {class: "head-link"} %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "CodeList", codes_path, {class: "head-link"} %></li>
                  <li><%= link_to "Sign_Up", new_user_registration_path, {class: "head-link"} %></li>
                  <li><%= link_to "Log_In", new_user_session_path, {class: "head-link"} %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small white pt-4">
      <div class="footers">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
                <h5 class="text-uppercase"><font color="#fff">SCoder</font></h5>
                <p><font color="#fff">簡易的なソースコードを共有するサイトです</font></p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <%= link_to "CodeList", codes_path, {class: "head-link"} %>
                </li>
              </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </div>

    </footer>
    <!-- Footer -->
  </body>
</html>
